@media (max-width: 420px) {
  .movies__container {
    max-width: 420px;
    width: 388px;
  }
}

@media (min-width: 421px) {
  .movies__container {
    max-width: 980px;
    width: auto;
  }
}

.movies__container {
  margin: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.movies {
  margin-left: -40px;
}

.ant-row .movies__row .css-1i9hnpv {
  list-style: none;
}
