@media (max-width: 420px) {
  .movie-rated {
    width: 387px;
    height: 245px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .movie-rated__image {
    width: 60px;
    height: 91px;
    margin-top: 6px;
    margin-left: 10px;
  }

  .movie-rated__vote-average {
    top: 5px;
    right: 8px;
  }

  .movie-rated__inf {
    margin: 4px 13px 4px 13px;
  }

  .movie-rated__inf-title {
    min-height: 99px;
    width: 258px;
  }

  .css-dev-only-do-not-override-1i9hnpv .ant-col-12 {
    max-width: 387px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .ant-card-body {
    width: 290px !important;
    height: 237px !important;
  }

  .movie-rated__rate-container {
    height: 46px;
    display: flex;
    justify-content: flex-end;
  }

  .movie-rated__overview {
    margin-left: -73px;
  }
}

@media (min-width: 421px) {
  .movie-rated {
    width: 454px;
    height: 281px;
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .movie-rated__image {
    width: 183px;
    height: 281px;
  }

  .movie-rated__vote-average {
    top: 12px;
    right: 9px;
  }

  .movie-rated__inf {
    margin: 12px 20px 0px 20px;
  }

  .movie-rated__inf-title {
    width: 200px;
  }

  .css-dev-only-do-not-override-1i9hnpv.ant-col-12 {
    max-width: 454px !important;
    margin-right: 18px !important;
    margin-left: 18px !important;
  }

  .ant-card-body {
    width: 228px !important;
    height: 269px !important;
  }

  .movie-rated__rate-container {
    width: 239px;
    height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.movie-rated {
  list-style: none;
  box-shadow: 1px 1px 10px rgb(182, 182, 182);
}

.movie-rated__view {
  display: flex;
  background: #ffffff;
  position: relative;
  width: inherit;
}

.movie-rated__space {
  width: inherit;
  height: inherit;
}

.movie-rated__wrapper {
  width: inherit;
  height: 210px;
}

.movie-rated__inf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
}

.movie-rated__inf-container {
  height: inherit;
}

.movie-rated__space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ant-card-body {
  padding: 0 !important;
  border-radius: 0px !important;
  display: flex;
  flex-direction: column;
}

.movie-rated__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.movie-rated__date-release {
  margin-top: 7px;
  font-size: 12px;
  color: #827e7e;
}

.movie-rated__overview {
  margin-top: 0;
  margin-bottom: 0 !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.movie-rated__inf-title {
  display: flex;
  flex-direction: column;
}

.movie-rated__vote-average {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
