@media (max-width: 420px) {
  .movies-rated__container {
    max-width: 420px;
    width: 388px;
  }
}

@media (min-width: 421px) {
  .movies-rated__container {
    max-width: 980px;
    width: 980px;
  }
}

.movies-rated__container {
  margin: auto;
  margin-top: 42px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.movies-rated {
  margin-left: -40px;
}

.ant-row .movies__row .css-dev-only-do-not-override-1i9hnpv {
  list-style: none;
}
